@import '../../variables';

.button-component{
    color: $text-color;
    background: $background-color;
    cursor: pointer;
    box-shadow: 0 0.5px 1px $shadow-color;
    text-decoration: none;

    font: { 
        family: $font;
        size: 14px;
    }

    &:hover{
        opacity: 0.8;
    }

    &:active{
        opacity: 0.5;
    }
}