@import '../../variables';

.button-component{
    border: none;
    outline: none;
    color: $text-color;
    background: $app-background-color;
    cursor: pointer;
    box-shadow: 0 0 0.5px $app-background-color;

    font: { 
        family: $font;
        size: 14px;
    }

    &:hover{
        opacity: 0.8;
    }

    &:active{
        opacity: 0.5;
    }
}