@import './variables';

body{
    background: {
        image: $body-background;
        size: cover;
        repeat: no-repeat;
    }
}

.app{
    max-width: 800px;
    margin: auto {
        top: 50px;
    };
}